<div class="main-div">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/login.png" alt="Login image">
        <mat-card-content>

            <form [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Nombre de usuario" formControlName="usuario">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="ocultarPassword ? 'password' : 'text'" placeholder="Contraseña" formControlName="password">
                    <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword">
                        <mat-icon>{{ ocultarPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
            </form>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="autenticaUsuario()">Acceder</button>
        </mat-card-actions>
    </mat-card>    
</div>